run = "npm start"
entrypoint = "index.js"

[env]
REPL_SLUG = "$REPL_SLUG"
REPL_OWNER = "$REPL_OWNER"

[[ports]]
localPort = 3000
externalPort = 80

[nix]
channel = "stable-22_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"